
.ub
{
	display: -webkit-box !important;
	display: box !important;
	position:relative;
}
.ub-con
{
	position:absolute;
	width:100%;
	height:100%;
}
.ub-ac
{
	-webkit-box-align:center;
	box-align:center;
}
.ub-ae
{
	-webkit-box-align:end;
	box-align:end;
}

.ub-pc
{
	-webkit-box-pack:center;
	box-pack:center;
}
.ub-pe
{
	-webkit-box-pack:end;
	box-pack:end;
}
.ub-pj
{
	-webkit-box-pack:justify;
	box-pack:justify;
}

.ub-ver
{
	-webkit-box-orient:vertical;
	box-orient:vertical;
}

.ub-f1
{
	position:relative;
	-webkit-box-flex: 1; 
	box-flex: 1;
}

.ub-f2
{
	position:relative;
	-webkit-box-flex: 2;
	box-flex: 2; 
}

.ub-f3
{
	position:relative;
	-webkit-box-flex: 3;
	box-flex: 3;
}

.ub-f4
{
	position:relative;
	-webkit-box-flex: 4;
	box-flex: 4;
}


body{
	padding: 0;
	margin:0;
	font-family: \5FAE\8F6F\96C5\9ED1,\534E\6587\7EC6\9ED1;
	overflow-x: hidden;	
}

.w-nav{
	font-size: 16px;
}
.filter80 {
    background-color: rgba(245, 245, 245, 0.8);
}
.w-nav li{
	padding: 10px 20px;
	cursor:pointer;
	text-align: right;
}
.w-nav li a{
	padding: 0;
	color: #000;
}
.w-nav li a:hover{
	padding: 0;
	background:none !important;
}
.w-nav li:hover{
	border-bottom: solid 2px #e74c3b;
	background-color: none;
}
.navtop25{
	margin-top: 25px;
}
.bg{
	background-color: #3d3d3d;
}
.bg-fan{
	width: 100%;
	margin-top:81px;
}
.bg-fan-img{
	width: 100%;
}
.page2{
	padding-bottom: 80px;
	background-color: #f5f5f5;
}
.page3{
	padding: 0 15px;
}
.page4{
	
	background-image: url("../images/bg1.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

}
.page5{
	background-color: #f5f5f5;
}
.page6{
	padding: 20px 0;
	background-color: #8a8787;
}
.page6 a:link {
	color: #fff;
}
.page6 a:visited {
	color: #fff;
}
.pages a:hover{
	color: #337ab7;
}
.imgcp1{
	width: 100%;
	visibility: hidden;
	z-index: -1;
}
.imgcp{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	transition:width 1s, height 1s,left 1s,top 1s;
	-moz-transition:width 1s, height 1s,left 1s,top 1s, -moz-transform 1s; /* Firefox 4 */
	-webkit-transition:width 1s, height 1s,left 1s,top 1s, -webkit-transform 1s; /* Safari and Chrome */
	-o-transition:width 1s, height 1s,left 1s,top 1s, -o-transform 1s; /* Opera */
	
}
.imgcp:hover{
	left: -10%;
	top: -10%;
	width: 120%;
	transform:rotate(10deg);
	-moz-transform:rotate(10deg); /* Firefox 4 */
	-webkit-transform:rotate(10deg); /* Safari and Chrome */
	-o-transform:rotate(10deg); 


}
.imgcol{
	padding: 0;
	overflow: hidden;
}	padding: 0;
}
.bg2{
	width: 100%;
}
.videoPage{
	top:120px;
	background-image: url(../images/bgsp.png);
	z-index: 1000;
}
.start{
	height: 100%;
	background-color: rgba(0,0,0,.6);
	background-image: url(../images/start.png);
	background-repeat: no-repeat;
	background-position: center;
	
}
.zind999{
	z-index: 999;
}
.closeV{
	position: absolute;
	width: 25px;
	height: 25px;
	cursor: pointer;
	top: 8px;
	right: 8px;
	z-index: 10000;
	background-image: url(../images/close.png);
}
.img-re{
	background-repeat: no-repeat;
}
.toolR{
	position: absolute;
    right: 40px;
    top: 20px;
    width: 30px;
    height: 40px;
    background-image: url(../images/tool.png);
    background-size: cover;
}
.w55{
	width: 55%;
	cursor: pointer;
}
.w100{
	width: 100%;
}
.hea{
	right: 7%;top: 16%;position: absolute;z-index: 2;width: 40%;
}
.hea p{
	text-align: center;
}
.nav-float{
	float: left;
}
.nav-float1{
	float: right;
}
.splj3{
	cursor: pointer;
	background-size: auto 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(../images/splj3.png);
	transition: background 0.5s;
    	-moz-transition: background 0.5s;
    	-webkit-transition: background 0.5s;
    	-o-transition: background 0.5s;
}
.splj3:hover{
	background-image: url(../images/splj2.png);
}
.splj{
	cursor: pointer;
	background-size: auto 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(../images/splj.png);
	transition: background 0.5s;
    	-moz-transition: background 0.5s;
    	-webkit-transition: background 0.5s;
    	-o-transition: background 0.5s;
}
.splj:hover{
	background-image: url(../images/splj1.png);
}
